@model ZadaniePraca.Models.Product

@{
    ViewData["Title"] = "Get certain product";
}

<h2>Get certain product</h2>

<p>Here's your product name and price: @Model.Name at cost @Model.Price  PLN!</p>